.linkNav{
    color: white !important;
}
.logo{
    color: white !important;
    margin-right: 20%;
    font-weight: bold;
}
.bgNav{
    background: linear-gradient(120deg, #140413 0%, #0c0505 100%) !important;
}
.bugerIcon{
    background-color: white;
}