@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.desc{
    font-family: 'Montserrat';
}

.textColor{
    font-family: 'Montserrat';
    font-weight: bold;
    color: cornsilk;
}